@import "tailwindcss";

@theme {
  /* fonts */
  --font-headlines: "Montserrat", sans-serif;
  --font-secondary-headlines: "Bebas Neue", sans-serif;
  --font-text: "Inter", sans-serif;

  /* colors */
  --color-primary: #AF3D3B;
  --color-secondary: #19191A;
  --color-tertiary: #ECEAEE; /* this is good*/
  --color-quaternary: #5D5F56; /*Nice gray*/
  --color-quinary: #B2A69F; /*Nice Beige*/

  /* breakpoints */
  --breakpoint-smest: 300px;
  --breakpoint-sm: 325px;
  --breakpoint-medium: 650px;
  --breakpoint-md: 768px;
  --breakpoint-middle: 850px;
  --breakpoint-large: 900px;
  --breakpoint-lg: 1024px;
}

/*
absolute inset-0

sticky top-0 z-50
*/

body {
  /* for 
   Headings
   Navigation
   Buttons
 */
  /* font-family: "Montserrat", sans-serif; */

  /* for 
   Hero headlines
   Product section titles
   */
   /* font-family: "Bebas Neue", sans-serif; */

   /* 
   Inter is perfect for:
   paragraphs
   product descriptions
   small text
   Very readable. */
   font-family: "Inter", sans-serif;
}